body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
}

button {
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    margin-top: 10px;
    background: #eee;
    padding: 5px;
    cursor: pointer;
}
